<!-- <!DOCTYPE html>
<script>
function getweather(){
    var city=document.getElementById("search").value;
    fetch("https://api.weatherstack.com/current?access_key=daa0eff8acb43fa340384adae7a03ecquery="+city)
    .then(a=>a.json())
    .then(response=>)=>{
        document.getElementById("image").src=response.current.weather_icons[0];
        document.getElementById("output").innerHTML="<h1>"+response.current.weather_descrions[0]+"</h1>Temperature:"
        +response.current.temperature+"<br>Wind Speed:"
        +response.current.wind speed+"</h1>Time Zone Id:"
        +response.current.Time Zone Id+"</h1>Weather Icon:"
        +response.current.weather icon;
    }

</script>  -->